
<div class="card">
<div class="card-header">
    <center> 
        <h1>{{titulo}} </h1>
    </center>
    
</div>
<div class="card-body">
    <center> 
        <h5 class="card-title">
        <i class="bi bi-person-circle"></i> Nombre: {{usuariojson.nombre}}</h5>
        <p class="card-text"><i class="bi bi-envelope"></i> Correo: {{usuariojson.correo}}</p>
    </center>
</div>
</div>